.home-text {
   background-color: dodgerblue!important;
}
.texter {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: white!important;
}
.text-page {
  color: chartreuse;
}
.pager {
  color: darkblue;
}
.kec {
  color: brown;
}
.list-sekolah {
  text-align: center;
}

.list-sekolah li {
  padding: 1rem;
  width: 145px;
  display: inline-block;
}

.list-sekolah img {
  max-width: 100%;
}